{% extends 'base.html.twig' %}

{% block body %}
    <section class="text-center">
        <h1>Gestion de compte</h1>
        <h2>Mes informations</h2>
        <div>
            <b>{{ user.username }}</b><br />
            <i>Mon grade: à Venir!</i> // Tooltip pour expliquer les différent grades
        </div>
    </section>
    <section>
        {% include 'address/list.html.twig' with {'user': user} %}
        <a class="mt-3 btn btn-primary btn-block" href="{{ path('account_address_add') }}">Ajouter une adresse</a>
    </section>
{% endblock %}
