{% extends 'base.html.twig' %}

{% block body %}
    <div>
        {% if error is defined %}
            <span class="has-error">{{error}}</span>
        {% endif %}
        <div class="row">
            <form action="{{ path('login') }}" method="POST" class="col-sm-12">
                <div class="form-group">
                    <input type="hidden" name="submitted" value="1" />
                    <input class="form-control text-center" id="username" type="text" name="username" placeholder="Email" />
                </div>
                <div class="form-group">
                    <input class="form-control text-center" id="password" type="password" name="password" placeholder="Mots de passe" />
                </div>
                <button class="btn btn-secondary btn-block" type="submit">Connexion</button>
            </form>
            <span class="text-center col-sm-12">ou</span>
            <span class="col-sm-12">
                <a class="btn btn-info btn-block" href="{{ path('register') }}">Inscrivez-vous</a>
            </span>
        </div>
    </div>
{% endblock %}
