{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <form action="{{ path('register') }}" method="POST">
            <input type="hidden" name="submitted" value="1" />
            {% if error.username is defined %}
                <span class="has-error">{{ error.username }}</span>
            {% endif %}
            <input type="text" name="username" />
            {% if error.password is defined %}
                <span class="has-error">{{ error.password }}</span>
            {% endif %}
            <input type="password" name="password" />
            <button type="submit">inscription</button>
        </form>
    </div>
{% endblock %}
