{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <h2 class="text-center mb-3">Inscription</h2>
        <form action="{{ path('register') }}" method="POST" class="col-sm-12">
            <input type="hidden" name="submitted" value="1" />
            <div class="form-group">
            {% if error.username is defined %}
                <span class="has-error">{{ error.username }}</span>
            {% endif %}
                <input class="form-control text-center" id="username" type="text" name="username" placeholder="Email" />
            </div>
            <div class="form-group">
                {% if error.password is defined %}
                    <span class="has-error">{{ error.password }}</span>
                {% endif %}
                <input class="form-control text-center" id="password" type="password" name="password" placeholder="Mots de passe" />
            </div>
            <button class="btn btn-info btn-block" type="submit">Inscription</button>
            <a href="{{ path('login') }}" class="btn btn-danger btn-block">Connexion</a>
        </form>
    </section>
{% endblock %}
