{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <div class="head">
            <div class="container">
                <h1>{{ offer.title }}</h1>
            </div>
        </div>
        <div class="container inner">
            <p>{{offer.description}}</p>
        </div>
    </section>
{% endblock %}
