@import "~bootstrap/scss/bootstrap";

div.header {
    height: 7rem;
}

.jumbotron {
    background-color: #78C2AD;
}

select { 
    text-align-last:center; 
}

.bg-primary {
    background-color: #78C2AD !important;
}

a, a:hover, a:focus {
    color: #78C2AD;
}

.btn-primary, .btn-primary:hover {
    color: #fff;
    background-color: #78C2AD;
    border-color: #78C2AD;
}

.btn-info, .btn-info:hover {
    color: #fff;
    background-color: #6CC3D5;
    border-color: #6CC3D5;
}

.btn-link, .btn-link:hover {
    color: #78C2AD;
}

.error {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}

.progress {
    background-color: #ffffff;
    border: 1px solid #ffffff;
}

.progress-bar {
    background-color: #6CC3D5;
}

