{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <div class="head">
            <div class="container">
                <h1>Mon tableau de bord</h1>
            </div>
        </div>
        <div class="container inner">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active pr-2 pl-2" id="nav-offer-tab" data-toggle="tab" href="#nav-offer" role="tab" aria-controls="nav-offer" aria-selected="true">Offres en cours</a>
                    <a class="nav-item nav-link pr-2 pl-2" id="nav-offer-archive-tab" data-toggle="tab" href="#nav-offer-archive" role="tab" aria-controls="nav-offer-archive" aria-selected="true">Archives</a>
                    <a class="nav-item nav-link pr-2 pl-2" id="nav-request-tab" data-toggle="tab" href="#nav-request" role="tab" aria-controls="nav-request" aria-selected="false">Mes demandes</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active p-3" id="nav-offer" role="tabpanel" aria-labelledby="nav-offer-tab">
                    <div class="d-flex">
                        {% for offer in user.offers if offer.status == constant('Domain\\Entity\\Offer::STATUS_PUBLISH') %}
                            {% include 'dashboard/offer_details.html.twig' with {'offer' : offer} %}
                        {% endfor %}
                    </div>
                    <a href="{{ path('offer_add') }}" class="btn btn-primary mt-3">Proposer une nouvelle offre</a>
                </div>
                <div class="tab-pane fade show p-3" id="nav-offer-archive" role="tabpanel" aria-labelledby="nav-offer-archive-tab">
                    <div class="d-flex">
                        {% for offer in user.offers if offer.status == constant('Domain\\Entity\\Offer::STATUS_CANCEL') %}
                            {% include 'dashboard/offer_details.html.twig' with {'offer' : offer} %}
                        {% endfor %}
                    </div>
                    <a href="{{ path('offer_add') }}" class="btn btn-primary mt-3">Proposer une nouvelle offre</a>
                </div>
                <div class="tab-pane fade" id="nav-request" role="tabpanel" aria-labelledby="nav-request-tab">
                    <p>Mes Demandes si j'en ai </p>
                    <a href="#">Créer une nouvelle demande</a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
